<div class="container" id="logo" >
    <button id="renderBtn">
        See Popular Results
    </button>
        <canvas id="myChart"></canvas>
</div>

<style>
    body{
      height: 200%;
      background-image: url('https://s1.dmcdn.net/v/ORqlQ1SR6jGIa1Cze/x1080');
      background-position: center;
      background-repeat: no-repeat; 
      background-size: cover;
      background-attachment: fixed;
    }
    #logo{
        color: white;
        background: white;
        padding: 2%;
    }

    #logo p{
        font-size: 20px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{{{t}}}