<div class="container" id="logo" >
    <div class="row">
        <div class="col-md-12">
            <h1>
                Incident Report
            </h1>
            <p id="infoP">
                Welcome to the wbesite reporting incidents within australia,
            </p>
        </div>
    </div>
</dvi>

<style>
    body{
      height: 200%;
      background-image: url('https://s1.dmcdn.net/v/ORqlQ1SR6jGIa1Cze/x1080');
      background-position: center;
      background-repeat: no-repeat; 
      background-size: cover;
      background-attachment: fixed;
    }
    #logo{
        margin-top: 20%;
        text-align: center;
        color: white;
        background: rgba(24, 24, 24, 0.5);
    }

    #logo p{
        font-size: 20px;
    }
</style>
